.container{
    margin-bottom: 100px;
}
.my-button{
    padding:9px 25px;
    border-radius:5px;
    background-color:black;
    border: none;
    color: white;
}
.card{
    box-shadow:5px 5px 10px lightslategrey;
    border: none;
    border-radius:10px;
    padding:10px;
}
.card-body{
    text-align:center;
}
.card-footer{
    border-top: none;
    background-color: white;
}
.col-md-3{
    border: 1px solid red;
}