body{
  background-color: lightgray;
}
.container{
    margin-bottom: 100px;
}
.my-button{
    padding:9px 25px;
    border-radius:5px;
    background-color:black;
    border: none;
    color: white;
}
.card{
    box-shadow:5px 5px 10px lightslategrey;
    border: none;
    border-radius:10px;
    padding:10px;
}
.card-body{
    text-align:center;
}
.card-footer{
    border-top: none;
    background-color: white;
}
.h3{
    text-align: center;
    margin-bottom:50px;
}
.perfume{
    text-align: center;
    padding: 45px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px 20px;
   
    margin-top: 30px;
} 
.shoe{
    text-align: center;
    padding: 45px;
    margin-bottom:30px;
    background-color: white;
    border-radius: 15px 20px;
}
.bag{
    text-align: center;
    padding: 45px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px 20px;
    margin-top: 30px;
}
.pale{
    padding:15px;
}
.pale img{
    width:120%;
}
.margin{
    padding-top:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}